In [12]:
import sqlite3  

con = sqlite3.connect("feedback.db")  
con.row_factory = sqlite3.Row  
cur = con.cursor()  
cur.execute("SELECT * from tab01")
row=cur.fetchall()

In [13]:
row

[<sqlite3.Row at 0x21edb406c50>,
 <sqlite3.Row at 0x21edb406ab0>,
 <sqlite3.Row at 0x21edb406bd0>,
 <sqlite3.Row at 0x21edb308f90>,
 <sqlite3.Row at 0x21edb308e30>,
 <sqlite3.Row at 0x21edb406330>,
 <sqlite3.Row at 0x21edb308ef0>]

In [14]:
for row in row:
    for i in range(len(row)):
        print(row[i],end=" ")
    print()

Shashwat Shah id10 A feed sms1999.shah@gmail.com ic
Shashwat Shah id10 A feed sms1999.shah@gmail.com imc
Shashwat Shah id10 A a sms1999.shah@gmail.com aa
Shashwat Shah id10 A s sms1999.shah@gmail.com s
Shashwat Shah id10 A sla sms1999.shah@gmail.com sa
Shashwat Shah id10 A d sms1999.shah@gmail.com Shashwat Shah
Shashwat Shah id10 A d sms1999.shah@gmail.com Shashwat Shah

In [71]:
# colnames = cur.description
# for row in colnames:
#     print(row[0])

name

In [4]:
cur.execute("select * from Table01 ") 
row=cur.fetchall() 
row

In [2]:
import sqlite3  

con = sqlite3.connect("feedback.db.")  
con.row_factory = sqlite3.Row  
cur = con.cursor()

In [21]:
tables=[]
for Alltable in table:
    for i in range(len(Alltable)):
        tables.append(Alltable[i])
tables

['Table01', 'sqlite_sequence', 'Table02']

In [17]:
tableLength=len(tables)

In [8]:
column=[]
cur.execute("select * from {0}".format("Table01"))
rows=cur.fetchall()
colnames = cur.description
for Allcolumns in colnames:
    column.append(Allcolumns[0])
column

['id', 'Name', 'Password']

In [11]:
columnlength=len(column)
columnlength

3

In [10]:

for Allrow in rows:
    for k in range(0,columnlength):
        print(Allrow[k],end=" ")
    print()

1 Shah rajababu

columnlength

In [14]:
columnlength

0

In [21]:
for row in rows:
    print(row)

<sqlite3.Row object at 0x0000029867476570>

In [20]:
print(rows[0])

<sqlite3.Row object at 0x0000029867476570>